.container {
    display: flex;
    padding: 10px;
    min-height: 82vh;
    position: relative;
    justify-content: center;
    background: var(--background);
}

.formBox {
    width: 380px;
    margin-top: 100px;
    padding: 24px;
    border-radius: 12px;
    max-height: fit-content;
    background: var(--cream);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}

.topButtons {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 24px;
    background: var(--cream);
}

.toggleBtn {
    flex: 1;
    border: none;
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-dark);
    background: transparent;
    transition: all 0.3s ease;
}

.toggleBtn:hover {
    color: var(--black);
    background: var(--white);
}

.active {
    color: var(--black);
    background: var(--gold);
}

.form {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.inputGroup {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-dark);
}

.input {
    outline: none;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 6px;
    background: var(--white);
    color: var(--foreground);
    border: 1px solid var(--gray);
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.input::placeholder {
    color: var(--gray);
}

.input:focus {
    border-color: var(--orange);
    box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.35);
}

.genderBox {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.radioGroup {
    gap: 20px;
    display: flex;
}

.radioGroup label {
    gap: 6px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    color: var(--gray-dark);
}

.radioGroup input {
    accent-color: var(--orange);
}

.submitBtn {
    padding: 12px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 12px;
    font-weight: 600;
    border-radius: 8px;
    color: var(--white);
    background: var(--orange);
    transition: background 0.3s ease, transform 0.1s ease;
}

.submitBtn:hover {
    background: var(--gold);
}

.submitBtn:active {
    transform: scale(0.97);
}