.header {
    width: 100%;
    display: flex;
    margin: 0px auto;
    max-width: 1240px;
    padding: 20px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.closeBtn {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 50px;
    align-items: center;
    color: var(--black);
    justify-content: left;
}

.iconBtn {
    display: none;
    margin-left: 20px;
    flex-direction: row;
}

.nav {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo img {
    width: 190px;
    height: fit-content;
    object-fit: contain;
}

.navLinks {
    display: flex;
    font-size: 16px;
    color: var(--white);
    flex-direction: row;
    align-items: center;
}

.navLinks li {
    transition: 0.5s;
    margin-right: 60px;
    list-style-type: none;
}

.navLinks li:hover {
    color: var(--gold);
}

.logo {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .header {
        padding: 20px 30px;
        flex-direction: row-reverse;
    }

    .logo {
        width: fit-content;
    }

    .iconBtn {
        gap: 20px;
        display: flex;
        align-items: center;
        color: var(--white);
    }
}