@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  --gray: gray;
  --white: #ffffff;
  --cream: #f8d4b2;
  --black: #000000;
  --orange: orange;
  --gold: goldenrod;
  --gray-dark: #4c453d;
  --background: #281a18;
  --foreground: #171717;
  --font-montserrat: "Montserrat", sans-serif;
}

/* 
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-montserrat);
}

::selection {
  color: var(--white);
  background-color: var(--orange);
}

.app-button {
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
  padding: 10px 20px;
  color: var(--white);
  border-radius: 12px !important;
  background-color: var(--gold);
}

.app-button:hover {
  color: var(--black);
  background-color: var(--cream);
}

.app-button div {
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.MuiDrawer-paperAnchorLeft {
  background-color: var(--cream) !important;
}